<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{../fragments.html::header}">
    </head>
    <body>
        <nav th:replace="~{../fragments.html::menu}"></nav>
        <h1>List of employees in the company</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Salary</th>
                    <th>Is Active</th>
                    <th>Gender</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${employee.id}"></td>
                    <td><a th:href="@{/{id}(id=${employee.id})}" th:text="${employee.name}"></a></td>
                    <td th:text="${employee.email}"></td>
                    <td th:text="${employee.salary}"></td>
                    <td th:text="${employee.isActive}"></td>
                    <td th:text="${employee.gender}"></td>
                    <td><a th:href="@{/edit/{id}(id=${employee.id})}" class="btn btn-primary">Edit</a></td>
                    <td><a th:href="@{/delete/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/}">Home</a><br>
    </body>
</html>