<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html::header}">
</head>
<body>
    <nav th:replace="~{fragments.html::menu}"></nav>
    <h1 th:text="${salaryListTitle}"></h1>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Salary</th>
        </thead>
        <tbody>
            <tr th:each="employee : ${salaryList}">
                <td th:text="${employee.id}"></td>
                <td><a th:href="@{/employee/{id}(id=${employee.id})}" th:text="${employee.name}"></a></td>
                <td th:text="${employee.salary}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}">Inicio</a><br>
</body>
</html>