<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html::header}">
    </head>
    <body>
        <nav th:replace="~{fragments.html::menu}"></nav>
        <h1>Edit department</h1>
        <form method="post" action="#" th:action="@{/department/edit/{id}/submit(id=${departmentForm.id})}" th:object="${departmentForm}">
            <label for="id">Id: </label><input type="text" readonly name="id" id="id" th:field="*{id}"><br>
            <label for="name">Name: </label><input type="text" name="name" id="name" th:field="*{name}"><br>
            <label for="annualBudget">Annual Budget: </label><input type="text" name="annualBudget" id="annualBudget" th:field="*{annualBudget}"><br>
            <input type="submit" value="Send">
        </form>
        <p class="alert alert-danger" th:if="${msg != null}">Error: <span th:text="${msg}"></span></p>
        <a th:href="@{/}">Home</a><br>
    </body>
</html>