<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/submit}" th:object="${dateForm}">
        <label>Date 1: <input type="date" id="date1" th:field="*{date1}"></label>
        <label>Date 2: <input type="date" id="date2" th:field="*{date2}"></label>
        <label><input type="radio" id="1" name="1" value="0" th:field="*{state}">Count Days</label>
        <label><input type="radio" id="2" name="2" value="1" th:field="*{state}">Show Leap Years</label>
        <label><input type="radio" id="3" name="3" value="2" th:field="*{state}">Count Starting Sundays</label>
        <input type="submit" value="send">
    </form>
</body>
</html>