<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{../fragments.html::header}">
    </head>
    <body>
        <nav th:replace="~{../fragments.html::menu}"></nav>
        <h1>Edit payslip</h1>
        <form method="post" action="#" th:action="@{/department/edit/{id}/submit(id=${departmentForm.id})}" th:object="${departmentForm}">
            <label for="id">Id: </label><input type="text" readonly name="id" id="id" th:field="*{id}"><br>
            <label for="date">Date: </label><input type="date" name="date" id="date" th:field="*{payslipDate}"><br>
            <label for="grossSalary">Gross Salary: </label><input type="text" name="grossSalary" id="grossSalary" th:field="*{grossSalary}">
            <label for="tax">Tax: </label><input type="text" name="tax" id="tax" th:field="*{taxPercent}">
            <label for="netSalary">Net Salary: </label><input type="text" name="netSalary" id="netSalary" th:field="*{netSalary}">
            Employee: <span th:text="{departmentForm.employee.name}"></span>
        </form>
        <p class="alert alert-danger" th:if="${msg != null}">Error: <span th:text="${msg}"></span></p>
        <a th:href="@{/}">Home</a><br>
    </body>
</html>