<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html::header}">
    </head>
    <body>
        <nav th:replace="~{fragments.html::menu}"></nav>
        <h1>List of departments in the company</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="project : ${projectList}">
                    <td th:text="${project.id}"></td>
                    <td th:text="${project.name}"></td>
                    <td><a th:href="@{/project/edit/{id}(id=${project.id})}" class="btn btn-primary">Edit</a></td>
                    <td><a th:href="@{/project/delete/{id}(id=${project.id})}" class="btn btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <p class="alert alert-danger" th:if="${msg != null}">Error: <span th:text="${msg}"></span></p>
        <a class="btn btn-primary" th:href="@{/}">Home</a><br>
        <a class="btn btn-primary" th:href="@{/project/new}">New Department</a><br>
    </body>
</html>