<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Management</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script> 
</head>

<nav th:fragment="menu" class="navbar navbar-dark bg-dark navbar-expand-sm">
    <ul class="navbar-nav">
        <li><a th:href="@{/}" class="nav-link active">Employees</a></li>
        <li><a th:href="@{/department/list}" class="nav-link active">Departments</a></li>
        <li><a th:href="@{/payslip/list}" class="nav-link active">Payslips</a></li>
        <li><a th:href="@{/project/list}" class="nav-link active">Projects</a></li>
    </ul>
</nav>
