<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments.html::header}">
    </head>
    <body>
        <nav th:replace="~{fragments.html::menu}"></nav>
        <h1>Edit employee</h1>
        <form method="post" action="#" th:action="@{/edit/{id}/submit(id=${employeeForm.id})}" th:object="${employeeForm}">
            <label for="id">Id: </label><input type="text" readonly name="id" id="id" th:field="*{id}"><br>
            <label for="name">Name: </label><input type="text" name="name" id="name" th:field="*{name}"><br>
            <label for="email">Email: </label><input type="text" name="email" id="email" th:field="*{email}"><br>
            <label for="salary">Salary: </label><input type="text" name="salary" id="salary" th:field="*{salary}"><br>
            <label for="active">Is Active: </label><input type="checkbox" name="active" id="active" th:field="*{active}"><br>
            Gender: <br>
            <div th:each="gender : ${T(com.adrian.ej2.domain.Gender).values()}">
                <input type="radio" name="gender" th:id="${gender}"  th:value="${gender}" th:field="*{gender}"><label th:for="${gender}" th:text="${gender}"></label>
            </div>
            Department: <br>
            <select name="department" id="department" th:field="*{department}">
                <option th:each="department : ${departmentList}" th:value="${department.id}" th:text="${department.name}"></option>
            </select>
            <input type="submit" value="Send">
        </form>
        <p class="alert alert-danger" th:if="${msg != null}">Error: <span th:text="${msg}"></span></p>
        <a th:href="@{/}">Home</a><br>
    </body>
</html>